[submodule "c_src/libs/c_reusable_data_structures"]
	path = c_src/libs/c_reusable_data_structures
	url = https://github.com/emqx/c_reusable_data_structures.git
	branch = master
[submodule "c_src/libs/jqc"]
	path = c_src/libs/jqc
	url = https://github.com/emqx/jqc.git
	branch = jq-1.6-emqx
