name: Test

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  mac:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-10.15
          - macos-11
        otp:
          - 23
          - 24
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Configure Homebrew cache
        uses: actions/cache@v2
        with:
          path: |
            ~/Library/Caches/Homebrew/
            ~/Library/Caches/Homebrew/downloads/
          key: brew-${{ matrix.os }}-${{ matrix.otp  }}
      - name: prepare
        run: |
          brew update
          brew install erlang@${{ matrix.otp }}
          brew install automake
          brew install bison
      - name: install rebar3
        run: |
          wget https://s3.amazonaws.com/rebar3/rebar3 && chmod +x rebar3
          cp ./rebar3 /usr/local/bin/rebar3
      - name: release build
        run: |
          export PATH="/usr/local/opt/erlang@${{ matrix.otp }}/bin:$PATH"
          ${GITHUB_WORKSPACE}/rebar3 eunit
  build:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        erl_otp:
          - 23.3.4.9-4
          - 24.2.1-1
        elixir:
          - 1.13.3
        os:
          - ubuntu20.04
          - ubuntu18.04
          - ubuntu16.04
          - debian10
          - debian9
          - rockylinux8

    container: "ghcr.io/emqx/emqx-builder/5.0-9:${{ matrix.elixir }}-${{ matrix.erl_otp }}-${{ matrix.os }}"

    steps:
    - uses: actions/checkout@v2
    - run: ${GITHUB_WORKSPACE}/rebar3 eunit
